In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [22]:
# Load the dataset
df = pd.read_csv('london_weather.csv')

# Check the first few rows
print(df.head())

       date  cloud_cover  sunshine  global_radiation  max_temp  mean_temp  \
0  19790101          2.0       7.0              52.0       2.3       -4.1
1  19790102          6.0       1.7              27.0       1.6       -2.6
2  19790103          5.0       0.0              13.0       1.3       -2.8
3  19790104          8.0       0.0              13.0      -0.3       -2.6
4  19790105          6.0       2.0              29.0       5.6       -0.8

   min_temp  precipitation  pressure  snow_depth
0      -7.5            0.4  101900.0         9.0
1      -7.5            0.0  102530.0         8.0
2      -7.2            0.0  102050.0         4.0
3      -6.5            0.0  100840.0         2.0
4      -1.4            0.0  102250.0         1.0

In [24]:
# Convert the date column to datetime
df['date'] = pd.to_datetime(df['date'])

In [26]:
# Extract year and month from the date
df['Year'] = df['date'].dt.year
df['Month'] = df['date'].dt.month

In [36]:
# Drop the 'date' column only if it exists
if 'date' in df.columns:
    df = df.drop(columns=['date'])

# Fill missing values with 0 for all columns
df = df.fillna(0)

#print(df.isnull().sum()) checking number of missing values in each column

In [38]:
df.head()

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,Year,Month
0,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,1970,1
1,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,1970,1
2,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,1970,1
3,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,1970,1
4,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,1970,1